body {
    font-family: Arial, sans-serif;
    background-color: #cdcdcd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    max-width: 90%; /* Ajuste para tornar responsivo */
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.question {
    margin-top: 20px;
    font-size: 18px;
}

.option {
    list-style: none;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
    transition: background-color 0.3s ease-in-out;
}

.option:hover {
    background-color: #f5f5f5;
}

#submit-answer, #restart-quiz {
    background-color: #9500ff;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out;
}

#submit-answer:hover, #restart-quiz:hover {
    background-color: #8000e6;
}

#message {
    font-style: italic;
    margin-top: 10px;
}

#score {
    margin-top: 20px;
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}